
/* .vjs-default-skin .vjs-big-play-button {
  background: url(./assets/images/video_play_icon.svg) center center no-repeat;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50px;
}

.vjs-default-skin .vjs-big-play-button:before {
  display: none;
}



.vjs-poster {
  background-size: cover;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.video-js {
  background-color: #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3,
video.video-js,
video.vjs-tech {
  max-height: 100%;
  position: relative !important;
  width: 100%;
  height: auto !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  line-height: 0;
}

video.video-js,
video.vjs-tech {
  width: 100%;
  min-height: 450px;
}

.vjs-fullscreen video.vjs-tech {
  min-height: 100% !important;
}

.vjs-control-bar {
  line-height: 1;
}

.vjs-theme-forest .vjs-control-bar {
  background: rgb(17 3 3 / 24%);
}

.vjs-poster {
  background-size: contain;
  background-color: #000;
} */

.single-video-box .vjs-theme-fantasy .vjs-play-progress, .single-video-box .vjs-theme-fantasy .vjs-play-progress:before {
  background-color: #e9253d;
}

.vjs-icon-placeholder {
  color: #FFF !important;
}

.single-video-box .my-video-dimensions {
  height: 339.45px;
}

.view_ico_btn,
.cmn_anc_nn,
.form_submit,
.calender_range_value.dateSelector,
.search_btn img,
.srch_btn img,
.btn-outline.btn-outline-blue,
span.prf_pic_change, .prf_pic_change input, .prf_pic_change svg,
ul.nav_list li a {
  cursor: pointer;
}
